<div *ngIf="isHomeMenu; else regularMenu" class="home-menu">
  <div class="imgbox object-contain">
    <img class="w-[300px]" src="../../assets/logo.png" alt="" />
  </div>
  <h1 class="pt-10" [innerHTML]="pageTitle"></h1>
  <div class="my-16 bg-primary w-[250px] h-[20px]"></div>
</div>

<ng-template #regularMenu class="">
  <div class="menu relative">
    <div class="flex justify-between items-center pt-[20px] pb-[50px]">
      <h1 class="" [innerHTML]="pageTitle" [class]="pageTitleStyle"></h1>
      <div class="imgbox object-contain">
        <img class="w-[200px]" [src]="logoImg" alt="" />
      </div>
    </div>
    <div class="mb-10 bg-primary w-[250px] h-[20px]"></div>
  </div>
</ng-template>
