<div class="absolute bottom-[40px] flex justify-between items-center">
  <a [href]="pageLinkBackTo">
    <div class="flex space-x-2 items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="4"
        stroke="currentColor"
        class="size-10 text-tertiary"
        [class]="footerStyle"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
        />
      </svg>
      <h2 [innerHTML]="pageFooter"></h2>
    </div>
  </a>
  <div class="iconSet">
    <!-- <mat-icon [class]="iconStyle" fontIcon="home"></mat-icon>
    <mat-icon [class]="iconStyle" fontIcon="handshake"></mat-icon>
    <mat-icon [class]="iconStyle" fontIcon="newsmode"></mat-icon>
    <mat-icon [class]="iconStyle" fontIcon="rule"></mat-icon>
    <mat-icon [class]="iconStyle" fontIcon="meeting_room"></mat-icon>
   -->
  </div>
</div>
