<video
  (click)="showMenu()"
  autoplay
  muted
  loop
  class="absolute top-0 left-0 w-full h-full object-cover"
  [src]="videoImg"
></video>

<div class="logo absolute">
  <img class="w-[300px]" [src]="logImg" alt="" />
</div>
<div @showUpAnimation *ngIf="isOpened" class="menu grid grid-cols-4 gap-5">
  <div class="pt-[500px]"></div>
  <a
    *ngFor="let item of menuItems"
    matRipple
    [matRippleColor]="rippleColor"
    [matRippleRadius]="radius"
    [routerLink]="item.linkTo"
    [class]="
      item.colSpan +
      ' ' +
      'h-[400px] border-2 border-white pressing-effect cursor-pointer rounded-2xl relative overflow-hidden'
    "
  >
    <div class="title">
      <h1
        class="text-white opacity-90 drop-shadow-md absolute p-10 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20"
      >
        {{ item.name | uppercase }}
      </h1>
    </div>
    <div class="img absolute inset-0">
      <!-- <img
        class="w-full h-full object-cover transform transition active:scale-150"
        [src]="item.imgUrl"
        alt=""
      /> -->
      <div class="absolute inset-0 bg-white bg-opacity-20 z-10"></div>
    </div>
  </a>
</div>
