/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custimized styles */

@layer base {
  h1 {
    @apply tracking-wide leading-none text-8xl font-black italic text-tertiary;
  }
  h2 {
    @apply tracking-wide leading-none text-6xl font-black italic text-tertiary;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
